.backGroundStyle {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-image: url("./back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  max-width: 90rem;
  width: 100%;
  padding: 0rem 0.9375rem;
  margin: 0rem auto;
}
