.header {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

.title {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 150%;
  position: relative;
  user-select: none;
  text-align: center;
}

.title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  margin-left: 0%;
  height: 2px;
  background: white;
  animation: lineInfinite 3s linear infinite;
  z-index: 1;
}

@keyframes lineInfinite {
  0% {
    margin-left: 0%;
    width: 25%;
  }
  25% {
    margin-left: 25%;
    width: 25%;
  }
  50% {
    margin-left: 50%;
    width: 25%;
  }
  75% {
    margin-left: 75%;
    width: 25%;
  }
  100% {
    margin-left: 100%;
    width: 0%;
  }
}
