.playerBlock {
  width: 70%;
  min-height: 18.75rem;
  border: 0.0625rem solid white;
  padding: 2rem;
  margin: 2.5rem auto 0rem;
  background-color: rgba(24, 21, 48, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.5rem;
}

.playersViev,
.playersDate {
  font-weight: 600;
}

.playersBlock {
  width: 100%;
  display: flex;
  gap: 1.25rem;
}

.playerHosts,
.playerGuests {
  display: flex;
  align-items: center;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
}

.playerTitle {
  font-size: 2.5rem;
  line-height: 150%;
  padding-bottom: 0.625rem;
  text-align: center;
}

.playerPlace {
  font-size: 1.25rem;
}

.bet {
  width: 100%;
  min-height: 2.25rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-radius: 0.3125rem;
  border: 0.0625rem solid gray;
  color: black;
  overflow: hidden;
  font-size: 0.75rem;
}

.bet input[type="radio"] {
  display: none;
}

.bet input[type="radio"]:checked + label {
  background: gray;
  color: white;
}

.betItem {
  height: inherit;
  text-align: center;
}

.betItem:hover {
  color: red;
}

.bet label {
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.betItem:not(:last-child) {
  border-right: 0.0625rem solid grey;
}

@media (max-width: 68.75rem) {
  .playerBlock {
    font-size: 1.25rem;
    gap: 1.875rem;
  }

  .playersBlock {
    gap: 1.875rem;
  }

  .playerTitle {
    font-size: 1.875rem;
    line-height: 140%;
  }
}

@media (max-width: 50rem) {
  .playerBlock {
    gap: 1.25rem;
    width: 80%;
  }

  .playersBlock {
    flex-direction: column;
  }

  .playerHosts,
  .playerGuests {
    width: 100%;
  }

  .playerTitle {
    font-size: 1.5625rem;
    line-height: 130%;
    font-weight: 600;
  }

  .playerPlace {
    font-size: 1.125rem;
  }

  .bet {
    width: 80%;
    min-height: 6rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 1.125rem;
  }

  .betItem:not(:last-child) {
    border-right: unset;
  }

  .betItem:not(:last-child) {
    border-bottom: 0.0625rem solid grey;
  }
}
